In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

In [3]:
cities = pd.read_html("assets/wikipedia_data.html")
cities = cities[1]
cities = cities.iloc[:, [0,3,5,6,7,8]]

In [4]:
type(cities)

pandas.core.frame.DataFrame

In [5]:
cities.shape

(52, 6)

In [6]:
football = pd.read_csv("assets/nfl.csv")
baseball = pd.read_csv("assets/mlb.csv")
basketball = pd.read_csv("assets/nba.csv")
hockey = pd.read_csv("assets/nhl.csv")

----------------------
# ***Hockey (NHL)***
----------------------

In [6]:
cities.columns

Index(['Metropolitan area', 'Population (2016 est.)[8]', 'NFL', 'MLB', 'NBA',
       'NHL'],
      dtype='object')

In [7]:
hockey.year.unique()

array([2018, 2017, 2015, 2014], dtype=int64)

In [8]:
hockey.query("year == 2018").shape

(35, 15)

In [27]:
hockey.query("year == 2018").drop([0, 9, 18, 26], axis = 0).reset_index(drop = True)

,team,GP,W,L,OL,PTS,PTS%,GF,GA,SRS,SOS,RPt%,ROW,year,League
0,Tampa Bay Lightning*,82,54,23,5,113,.689,296,236,0.66,-0.07,.634,48,2018,NHL
1,Boston Bruins*,82,50,20,12,112,.683,270,214,0.62,-0.07,.610,47,2018,NHL
2,Toronto Maple Leafs*,82,49,26,7,105,.640,277,232,0.49,-0.06,.567,42,2018,NHL
3,Florida Panthers,82,44,30,8,96,.585,248,246,-0.01,-0.04,.537,41,2018,NHL
4,Detroit Red Wings,82,30,39,13,73,.445,217,255,-0.48,-0.01,.341,25,2018,NHL
5,Montreal Canadiens,82,29,40,13,71,.433,209,264,-0.68,0.00,.378,27,2018,NHL
6,Ottawa Senators,82,28,43,11,67,.409,221,291,-0.85,0.00,.372,26,2018,NHL
7,Buffalo Sabres,82,25,45,12,62,.378,199,280,-0.98,0.01,.311,24,2018,NHL
8,Washington Capitals*,82,49,26,7,105,.640,259,239,0.21,-0.04,.585,46,2018,NHL
9,Pittsburgh Penguins*,82,47,29,6,100,.610,272,250,0.23,-0.04,.573,45,2018,NHL
10,Philadelphia Flyers*,82,42,26,14,98,.598,251,243,0.07,-0.03,.543,40,2018,NHL
11,Columbus Blue Jackets*,82,45,30,7,97,.591,242,230,0.11,-0.04,.537,39,2018,NHL
12,New Jersey Devils*,82,44,29,9,97,.591,248,244,0.02,-0.03,.530,39,2018,NHL
13,Carolina Hurricanes,82,36,35,11,83,.506,228,256,-0.35,-0.01,.439,33,2018,NHL
14,New York Islanders,82,35,37,10,80,.488,264,296,-0.40,-0.01,.427,32,2018,NHL
15,New York Rangers,82,34,39,9,77,.470,231,268,-0.46,-0.01,.427,31,2018,NHL
16,Nashville Predators*,82,53,18,11,117,.713,267,211,0.71,0.03,.652,47,2018,NHL
17,Winnipeg Jets*,82,52,20,10,114,.695,277,218,0.74,0.02,.622,48,2018,NHL
18,Minnesota Wild*,82,45,26,11,101,.616,253,232,0.29,0.04,.549,42,2018,NHL
19,Colorado Avalanche*,82,43,30,9,95,.579,257,237,0.28,0.04,.518,41,2018,NHL
20,St. Louis Blues,82,44,32,6,94,.573,226,222,0.10,0.05,.518,41,2018,NHL
21,Dallas Stars,82,42,32,8,92,.561,235,225,0.17,0.04,.506,38,2018,NHL
22,Chicago Blackhawks,82,33,39,10,76,.463,229,256,-0.26,0.07,.409,32,2018,NHL
23,Vegas Golden Knights*,82,51,24,7,109,.665,272,228,0.52,-0.01,.616,47,2018,NHL
24,Anaheim Ducks*,82,44,25,13,101,.616,235,216,0.24,0.01,.555,40,2018,NHL
25,San Jose Sharks*,82,45,27,10,100,.610,252,229,0.28,0.00,.537,40,2018,NHL
26,Los Angeles Kings*,82,45,29,8,98,.598,239,203,0.44,0.00,.543,43,2018,NHL
27,Calgary Flames,82,37,35,10,84,.512,218,248,-0.33,0.03,.470,35,2018,NHL
28,Edmonton Oilers,82,36,40,6,78,.476,234,263,-0.32,0.03,.415,31,2018,NHL
29,Vancouver Canucks,82,31,40,11,73,.445,218,264,-0.51,0.05,.409,31,2018,NHL
30,Arizona Coyotes,82,29,41,12,70,.427,208,256,-0.53,0.05,.372,27,2018,NHL

In [9]:
def get_city_name(team_name: str) -> str:
    _skips = ["Red", "Blue", "Golden", "Maple"]
    _names = team_name.split(" ")
    if len(_names) > 2:
        if _names[1] not in _skips:
            return _names[0] + " " + _names[1]
        else:
            return _names[0]
    elif len(_names) == 2:
        return _names[0]
    else:
        return None

In [34]:
hockey_2018.team.apply(get_city_name)

0        Tampa Bay
1           Boston
2          Toronto
3          Florida
4          Detroit
5         Montreal
6           Ottawa
7          Buffalo
8       Washington
9       Pittsburgh
10    Philadelphia
11        Columbus
12      New Jersey
13        Carolina
14        New York
15        New York
16       Nashville
17        Winnipeg
18       Minnesota
19        Colorado
20       St. Louis
21          Dallas
22         Chicago
23           Vegas
24         Anaheim
25        San Jose
26     Los Angeles
27         Calgary
28        Edmonton
29       Vancouver
30         Arizona
Name: team, dtype: object

In [35]:
hockey_2018 = hockey.query("year == 2018").loc[:, ["team", "W", "L"]].drop([0, 9, 18, 26], axis = 0).reset_index(drop = True)

In [36]:
hockey_2018["Metropolitan area"] = hockey_2018.team.apply(get_city_name)
hockey_2018["wl_ratio"] = hockey_2018.W.astype(np.int64) / (hockey_2018.W.astype(np.int64) + hockey_2018.L.astype(np.int64))

In [37]:
hockey_2018.sort_values("Metropolitan area")

                      team   W   L Metropolitan area  wl_ratio
24          Anaheim Ducks*  44  25           Anaheim  0.637681
30         Arizona Coyotes  29  41           Arizona  0.414286
1           Boston Bruins*  50  20            Boston  0.714286
7           Buffalo Sabres  25  45           Buffalo  0.357143
27          Calgary Flames  37  35           Calgary  0.513889
13     Carolina Hurricanes  36  35          Carolina  0.507042
22      Chicago Blackhawks  33  39           Chicago  0.458333
19     Colorado Avalanche*  43  30          Colorado  0.589041
11  Columbus Blue Jackets*  45  30          Columbus  0.600000
21            Dallas Stars  42  32            Dallas  0.567568
4        Detroit Red Wings  30  39           Detroit  0.434783
28         Edmonton Oilers  36  40          Edmonton  0.473684
3         Florida Panthers  44  30           Florida  0.594595
26      Los Angeles Kings*  45  29       Los Angeles  0.608108
18         Minnesota Wild*  45  26         Minnesota  0.633803
5       Montreal Canadiens  29  40          Montreal  0.420290
16    Nashville Predators*  53  18         Nashville  0.746479
12      New Jersey Devils*  44  29        New Jersey  0.602740
15        New York Rangers  34  39          New York  0.465753
14      New York Islanders  35  37          New York  0.486111
6          Ottawa Senators  28  43            Ottawa  0.394366
10    Philadelphia Flyers*  42  26      Philadelphia  0.617647
9     Pittsburgh Penguins*  47  29        Pittsburgh  0.618421
25        San Jose Sharks*  45  27          San Jose  0.625000
20         St. Louis Blues  44  32         St. Louis  0.578947
0     Tampa Bay Lightning*  54  23         Tampa Bay  0.701299
2     Toronto Maple Leafs*  49  26           Toronto  0.653333
29       Vancouver Canucks  31  40         Vancouver  0.436620
23   Vegas Golden Knights*  51  24             Vegas  0.680000
8     Washington Capitals*  49  26        Washington  0.653333
17          Winnipeg Jets*  52  20          Winnipeg  0.722222

In [51]:
cities.loc[:, ["Metropolitan area", "Population (2016 est.)[8]"]] #.sort_values("Metropolitan area")

         Metropolitan area Population (2016 est.)[8]
0            New York City                  20153634
1              Los Angeles                  13310447
2   San Francisco Bay Area                   6657982
3                  Chicago                   9512999
4        Dallas–Fort Worth                   7233323
5         Washington, D.C.                   6131977
6             Philadelphia                   6070500
7                   Boston                   4794447
8   Minneapolis–Saint Paul                   3551036
9                   Denver                   2853077
10   Miami–Fort Lauderdale                   6066387
11                 Phoenix                   4661537
12                 Detroit                   4297617
13                 Toronto                   5928040
14                 Houston                   6772470
15                 Atlanta                   5789700
16          Tampa Bay Area                   3032171
17              Pittsburgh                   2342299
18               Cleveland                   2055612
19                 Seattle                   3798902
20              Cincinnati                   2165139
21             Kansas City                   2104509
22               St. Louis                   2807002
23               Baltimore                   2798886
24               Charlotte                   2474314
25            Indianapolis                   2004230
26               Nashville                   1865298
27               Milwaukee                   1572482
28             New Orleans                   1268883
29                 Buffalo                   1132804
30                Montreal                   4098927
31               Vancouver                   2463431
32                 Orlando                   2441257
33                Portland                   2424955
34                Columbus                   2041520
35                 Calgary                   1392609
36                  Ottawa                   1323783
37                Edmonton                   1321426
38          Salt Lake City                   1186187
39                Winnipeg                    778489
40               San Diego                   3317749
41             San Antonio                   2429609
42              Sacramento                   2296418
43               Las Vegas                   2155664
44            Jacksonville                   1478212
45           Oklahoma City                   1373211
46                 Memphis                   1342842
47                 Raleigh                   1302946
48               Green Bay                    318236
49                Hamilton                    747545
50                  Regina                    236481
51                  Totals                         –

In [53]:
_cities = cities.loc[:, ["Metropolitan area", "Population (2016 est.)[8]"]].drop(51, axis = 0)
_cities["Population (2016 est.)[8]"]  = _cities.loc[:, "Population (2016 est.)[8]"].astype(np.int64)

In [54]:
[area for area in cities.loc[:, "Metropolitan area"] if "Wash" in area]

['Washington, D.C.']

In [55]:
rename_dict = {
    "New York": "New York City",
    "Tampa Bay": "Tampa Bay Area",
    "Washington": "Washington, D.C.",
    "Dallas": "Dallas–Fort Worth",
    "Vegas": "Las Vegas",
    "Colorado": "Denver",
    "San Jose": "San Francisco Bay Area",
    "Anaheim": "Los Angeles",
    "Florida": "Miami–Fort Lauderdale",
    "Arizona": "Phoenix",
    "Carolina": "Raleigh",
    "Minnesota": "Minneapolis–Saint Paul",
    "New Jersey": "New York City"
}

In [56]:
hockey_2018["Metropolitan area"] = hockey_2018.loc[:, "Metropolitan area"] \
                .apply(lambda name: rename_dict.get(name) if name in rename_dict.keys() else name)

In [62]:
pd.merge(_cities, hockey_2018, how = "inner", on = "Metropolitan area")

,Metropolitan area,Population (2016 est.)[8],team,W,L,wl_ratio
0,New York City,20153634,New Jersey Devils*,44,29,0.602740
1,New York City,20153634,New York Islanders,35,37,0.486111
2,New York City,20153634,New York Rangers,34,39,0.465753
3,Los Angeles,13310447,Anaheim Ducks*,44,25,0.637681
4,Los Angeles,13310447,Los Angeles Kings*,45,29,0.608108
5,San Francisco Bay Area,6657982,San Jose Sharks*,45,27,0.625000
6,Chicago,9512999,Chicago Blackhawks,33,39,0.458333
7,Dallas–Fort Worth,7233323,Dallas Stars,42,32,0.567568
8,"Washington, D.C.",6131977,Washington Capitals*,49,26,0.653333
9,Philadelphia,6070500,Philadelphia Flyers*,42,26,0.617647
10,Boston,4794447,Boston Bruins*,50,20,0.714286
11,Minneapolis–Saint Paul,3551036,Minnesota Wild*,45,26,0.633803
12,Denver,2853077,Colorado Avalanche*,43,30,0.589041
13,Miami–Fort Lauderdale,6066387,Florida Panthers,44,30,0.594595
14,Phoenix,4661537,Arizona Coyotes,29,41,0.414286
15,Detroit,4297617,Detroit Red Wings,30,39,0.434783
16,Toronto,5928040,Toronto Maple Leafs*,49,26,0.653333
17,Tampa Bay Area,3032171,Tampa Bay Lightning*,54,23,0.701299
18,Pittsburgh,2342299,Pittsburgh Penguins*,47,29,0.618421
19,St. Louis,2807002,St. Louis Blues,44,32,0.578947
20,Nashville,1865298,Nashville Predators*,53,18,0.746479
21,Buffalo,1132804,Buffalo Sabres,25,45,0.357143
22,Montreal,4098927,Montreal Canadiens,29,40,0.420290
23,Vancouver,2463431,Vancouver Canucks,31,40,0.436620
24,Columbus,2041520,Columbus Blue Jackets*,45,30,0.600000
25,Calgary,1392609,Calgary Flames,37,35,0.513889
26,Ottawa,1323783,Ottawa Senators,28,43,0.394366
27,Edmonton,1321426,Edmonton Oilers,36,40,0.473684
28,Winnipeg,778489,Winnipeg Jets*,52,20,0.722222
29,Las Vegas,2155664,Vegas Golden Knights*,51,24,0.680000
30,Raleigh,1302946,Carolina Hurricanes,36,35,0.507042

In [58]:
set(hockey_2018.loc[:, "Metropolitan area"]).difference(set(cities.loc[:, "Metropolitan area"]))

set()

In [59]:
nhl_merge = pd.merge(_cities, hockey_2018, how = "inner", on = "Metropolitan area")
nhl_merge.shape

(31, 6)

In [61]:
nhl_merge.groupby("Metropolitan area").agg({"Population (2016 est.)[8]": np.mean, "wl_ratio": np.mean})

                        Population (2016 est.)[8]  wl_ratio
Metropolitan area
Boston                                  4794447.0  0.714286
Buffalo                                 1132804.0  0.357143
Calgary                                 1392609.0  0.513889
Chicago                                 9512999.0  0.458333
Columbus                                2041520.0  0.600000
Dallas–Fort Worth                       7233323.0  0.567568
Denver                                  2853077.0  0.589041
Detroit                                 4297617.0  0.434783
Edmonton                                1321426.0  0.473684
Las Vegas                               2155664.0  0.680000
Los Angeles                            13310447.0  0.622895
Miami–Fort Lauderdale                   6066387.0  0.594595
Minneapolis–Saint Paul                  3551036.0  0.633803
Montreal                                4098927.0  0.420290
Nashville                               1865298.0  0.746479
New York City                          20153634.0  0.518201
Ottawa                                  1323783.0  0.394366
Philadelphia                            6070500.0  0.617647
Phoenix                                 4661537.0  0.414286
Pittsburgh                              2342299.0  0.618421
Raleigh                                 1302946.0  0.507042
San Francisco Bay Area                  6657982.0  0.625000
St. Louis                               2807002.0  0.578947
Tampa Bay Area                          3032171.0  0.701299
Toronto                                 5928040.0  0.653333
Vancouver                               2463431.0  0.436620
Washington, D.C.                        6131977.0  0.653333
Winnipeg                                 778489.0  0.722222

------------------------------
# ***Basketball (NBA)***
--------------------------------

In [12]:
bask_2018 = basketball.query("year == 2018")
bask_2018

,team,W,L,W/L%,GB,PS/G,PA/G,SRS,year,League
0,Toronto Raptors* (1),59,23,0.72,—,111.7,103.9,7.29,2018,NBA
1,Boston Celtics* (2),55,27,0.6709999999999999,4.0,104.0,100.4,3.23,2018,NBA
2,Philadelphia 76ers* (3),52,30,0.634,7.0,109.8,105.3,4.3,2018,NBA
3,Cleveland Cavaliers* (4),50,32,0.61,9.0,110.9,109.9,0.59,2018,NBA
4,Indiana Pacers* (5),48,34,0.585,11.0,105.6,104.2,1.18,2018,NBA
5,Miami Heat* (6),44,38,0.537,15.0,103.4,102.9,0.15,2018,NBA
6,Milwaukee Bucks* (7),44,38,0.537,15.0,106.5,106.8,-0.45,2018,NBA
7,Washington Wizards* (8),43,39,0.524,16.0,106.6,106.0,0.53,2018,NBA
8,Detroit Pistons (9),39,43,0.47600000000000003,20.0,103.8,103.9,-0.26,2018,NBA
9,Charlotte Hornets (10),36,46,0.439,23.0,108.2,108.0,0.07,2018,NBA
10,New York Knicks (11),29,53,0.354,30.0,104.5,108.0,-3.53,2018,NBA
11,Brooklyn Nets (12),28,54,0.341,31.0,106.6,110.3,-3.67,2018,NBA
12,Chicago Bulls (13),27,55,0.32899999999999996,32.0,102.9,110.0,-6.84,2018,NBA
13,Orlando Magic (14),25,57,0.305,34.0,103.4,108.2,-4.92,2018,NBA
14,Atlanta Hawks (15),24,58,0.293,35.0,103.4,108.8,-5.3,2018,NBA
15,Houston Rockets* (1),65,17,0.7929999999999999,—,112.4,103.9,8.21,2018,NBA
16,Golden State Warriors* (2),58,24,0.7070000000000001,7.0,113.5,107.5,5.79,2018,NBA
17,Portland Trail Blazers* (3),49,33,0.598,16.0,105.6,103.0,2.6,2018,NBA
18,Oklahoma City Thunder* (4),48,34,0.585,17.0,107.9,104.4,3.42,2018,NBA
19,Utah Jazz* (5),48,34,0.585,17.0,104.1,99.8,4.47,2018,NBA
20,New Orleans Pelicans* (6),48,34,0.585,17.0,111.7,110.4,1.48,2018,NBA
21,San Antonio Spurs* (7),47,35,0.573,18.0,102.7,99.8,2.89,2018,NBA
22,Minnesota Timberwolves* (8),47,35,0.573,18.0,109.5,107.3,2.35,2018,NBA
23,Denver Nuggets (9),46,36,0.561,19.0,110.0,108.5,1.57,2018,NBA
24,Los Angeles Clippers (10),42,40,0.512,23.0,109.0,109.0,0.15,2018,NBA
25,Los Angeles Lakers (11),35,47,0.42700000000000005,30.0,108.1,109.6,-1.44,2018,NBA
26,Sacramento Kings (12),27,55,0.32899999999999996,38.0,98.8,105.8,-6.6,2018,NBA
27,Dallas Mavericks (13),24,58,0.293,41.0,102.3,105.4,-2.7,2018,NBA
28,Memphis Grizzlies (14),22,60,0.268,43.0,99.3,105.5,-5.81,2018,NBA
29,Phoenix Suns (15),21,61,0.256,44.0,103.9,113.3,-8.8,2018,NBA

In [30]:
def get_city_name(team_name: str) -> str:
    _skips = ["Trail", "City"]
    _names = team_name.split(" ")
    if len(_names) > 2:
        if _names[1] not in _skips:
            return _names[0] + " " + _names[1]
        else:
            return _names[0]
    elif len(_names) == 2:
        return _names[0]
    else:
        return None

In [31]:
bask_2018.dtypes

team                  object
W                      int64
L                      int64
Metropolitan area     object
wl_ratio             float64
dtype: object

In [32]:
bask_2018.loc[:, "Metropolitan area"] = bask_2018.team.apply(get_city_name)

In [33]:
bask_2018 = bask_2018.loc[:, ["team", "W", "L", "Metropolitan area"]].astype({"W": np.int64, "L": np.int64})

In [34]:
bask_2018["wl_ratio"] = bask_2018.W / (bask_2018.W + bask_2018.L)

In [35]:
bask_2018

                           team   W   L Metropolitan area  wl_ratio
0          Toronto Raptors* (1)  59  23           Toronto  0.719512
1           Boston Celtics* (2)  55  27            Boston  0.670732
2       Philadelphia 76ers* (3)  52  30      Philadelphia  0.634146
3      Cleveland Cavaliers* (4)  50  32         Cleveland  0.609756
4           Indiana Pacers* (5)  48  34           Indiana  0.585366
5               Miami Heat* (6)  44  38             Miami  0.536585
6          Milwaukee Bucks* (7)  44  38         Milwaukee  0.536585
7       Washington Wizards* (8)  43  39        Washington  0.524390
8           Detroit Pistons (9)  39  43           Detroit  0.475610
9        Charlotte Hornets (10)  36  46         Charlotte  0.439024
10         New York Knicks (11)  29  53          New York  0.353659
11           Brooklyn Nets (12)  28  54          Brooklyn  0.341463
12           Chicago Bulls (13)  27  55           Chicago  0.329268
13           Orlando Magic (14)  25  57           Orlando  0.304878
14           Atlanta Hawks (15)  24  58           Atlanta  0.292683
15         Houston Rockets* (1)  65  17           Houston  0.792683
16   Golden State Warriors* (2)  58  24      Golden State  0.707317
17  Portland Trail Blazers* (3)  49  33          Portland  0.597561
18   Oklahoma City Thunder* (4)  48  34          Oklahoma  0.585366
19               Utah Jazz* (5)  48  34              Utah  0.585366
20    New Orleans Pelicans* (6)  48  34       New Orleans  0.585366
21       San Antonio Spurs* (7)  47  35       San Antonio  0.573171
22  Minnesota Timberwolves* (8)  47  35         Minnesota  0.573171
23           Denver Nuggets (9)  46  36            Denver  0.560976
24    Los Angeles Clippers (10)  42  40       Los Angeles  0.512195
25      Los Angeles Lakers (11)  35  47       Los Angeles  0.426829
26        Sacramento Kings (12)  27  55        Sacramento  0.329268
27        Dallas Mavericks (13)  24  58            Dallas  0.292683
28       Memphis Grizzlies (14)  22  60           Memphis  0.268293
29            Phoenix Suns (15)  21  61           Phoenix  0.256098

In [44]:
rename_dict = {
    "New York": "New York City",
    "Brooklyn": "New York City",
    "Tampa Bay": "Tampa Bay Area",
    "Washington": "Washington, D.C.",
    "Dallas": "Dallas–Fort Worth",
    "Vegas": "Las Vegas",
    "Colorado": "Denver",
    "San Jose": "San Francisco Bay Area",
    "Anaheim": "Los Angeles",
    "Florida": "Miami–Fort Lauderdale",
    "Arizona": "Phoenix",
    "Carolina": "Raleigh",
    "Minnesota": "Minneapolis–Saint Paul",
    "New Jersey": "New York City",
    "Indiana": "Indianapolis",
    "Miami": "Miami–Fort Lauderdale",
    "Oklahoma": "Oklahoma City",
    "Utah": "Salt Lake City",
    "Golden State": "San Francisco Bay Area"
}

In [48]:
bask_2018["Metropolitan area"] = bask_2018.loc[:, "Metropolitan area"] \
                    .apply(lambda cname: rename_dict.get(cname) if cname in rename_dict.keys() else cname)

In [49]:
set(bask_2018.loc[:, "Metropolitan area"]).difference(set(cities.loc[:, "Metropolitan area"]))

set()

In [51]:
_cities = cities.loc[:, ["Metropolitan area", "Population (2016 est.)[8]"]]

In [54]:
pd.merge(bask_2018, _cities, on = "Metropolitan area", how = "inner").astype({"Population (2016 est.)[8]": np.int64})

,team,W,L,Metropolitan area,wl_ratio,Population (2016 est.)[8]
0,Toronto Raptors* (1),59,23,Toronto,0.719512,5928040
1,Boston Celtics* (2),55,27,Boston,0.670732,4794447
2,Philadelphia 76ers* (3),52,30,Philadelphia,0.634146,6070500
3,Cleveland Cavaliers* (4),50,32,Cleveland,0.609756,2055612
4,Indiana Pacers* (5),48,34,Indianapolis,0.585366,2004230
5,Miami Heat* (6),44,38,Miami–Fort Lauderdale,0.536585,6066387
6,Milwaukee Bucks* (7),44,38,Milwaukee,0.536585,1572482
7,Washington Wizards* (8),43,39,"Washington, D.C.",0.524390,6131977
8,Detroit Pistons (9),39,43,Detroit,0.475610,4297617
9,Charlotte Hornets (10),36,46,Charlotte,0.439024,2474314
10,New York Knicks (11),29,53,New York City,0.353659,20153634
11,Brooklyn Nets (12),28,54,New York City,0.341463,20153634
12,Chicago Bulls (13),27,55,Chicago,0.329268,9512999
13,Orlando Magic (14),25,57,Orlando,0.304878,2441257
14,Atlanta Hawks (15),24,58,Atlanta,0.292683,5789700
15,Houston Rockets* (1),65,17,Houston,0.792683,6772470
16,Golden State Warriors* (2),58,24,San Francisco Bay Area,0.707317,6657982
17,Portland Trail Blazers* (3),49,33,Portland,0.597561,2424955
18,Oklahoma City Thunder* (4),48,34,Oklahoma City,0.585366,1373211
19,Utah Jazz* (5),48,34,Salt Lake City,0.585366,1186187
20,New Orleans Pelicans* (6),48,34,New Orleans,0.585366,1268883
21,San Antonio Spurs* (7),47,35,San Antonio,0.573171,2429609
22,Minnesota Timberwolves* (8),47,35,Minneapolis–Saint Paul,0.573171,3551036
23,Denver Nuggets (9),46,36,Denver,0.560976,2853077
24,Los Angeles Clippers (10),42,40,Los Angeles,0.512195,13310447
25,Los Angeles Lakers (11),35,47,Los Angeles,0.426829,13310447
26,Sacramento Kings (12),27,55,Sacramento,0.329268,2296418
27,Dallas Mavericks (13),24,58,Dallas–Fort Worth,0.292683,7233323
28,Memphis Grizzlies (14),22,60,Memphis,0.268293,1342842
29,Phoenix Suns (15),21,61,Phoenix,0.256098,4661537

In [56]:
pd.merge(bask_2018, _cities, on = "Metropolitan area", how = "inner") \
            .astype({"Population (2016 est.)[8]": np.int64}) \
            .groupby("Metropolitan area").agg({"wl_ratio": np.mean, "Population (2016 est.)[8]": np.mean})

                        wl_ratio  Population (2016 est.)[8]
Metropolitan area
Atlanta                 0.292683                  5789700.0
Boston                  0.670732                  4794447.0
Charlotte               0.439024                  2474314.0
Chicago                 0.329268                  9512999.0
Cleveland               0.609756                  2055612.0
Dallas–Fort Worth       0.292683                  7233323.0
Denver                  0.560976                  2853077.0
Detroit                 0.475610                  4297617.0
Houston                 0.792683                  6772470.0
Indianapolis            0.585366                  2004230.0
Los Angeles             0.469512                 13310447.0
Memphis                 0.268293                  1342842.0
Miami–Fort Lauderdale   0.536585                  6066387.0
Milwaukee               0.536585                  1572482.0
Minneapolis–Saint Paul  0.573171                  3551036.0
New Orleans             0.585366                  1268883.0
New York City           0.347561                 20153634.0
Oklahoma City           0.585366                  1373211.0
Orlando                 0.304878                  2441257.0
Philadelphia            0.634146                  6070500.0
Phoenix                 0.256098                  4661537.0
Portland                0.597561                  2424955.0
Sacramento              0.329268                  2296418.0
Salt Lake City          0.585366                  1186187.0
San Antonio             0.573171                  2429609.0
San Francisco Bay Area  0.707317                  6657982.0
Toronto                 0.719512                  5928040.0
Washington, D.C.        0.524390                  6131977.0

--------------------
# ***Baseball (MLB)***
--------------------

In [60]:
base_2018 = baseball.query("year == 2018").astype({"W": np.int64, "L": np.int64}).loc[:, ["team",  "W", "L"]]
base_2018["wl_ratio"] = base_2018.W / (base_2018.W + base_2018.L)

In [64]:
def get_city_name(team_name: str) -> str:
    _skips = ["Red", "Blue", "White"]
    _names = team_name.split(" ")
    if len(_names) > 2:
        if _names[1] not in _skips:
            return _names[0] + " " + _names[1]
        else:
            return _names[0]
    elif len(_names) == 2:
        return _names[0]
    else:
        return None

In [65]:
base_2018

                     team    W    L  wl_ratio
0          Boston Red Sox  108   54  0.666667
1        New York Yankees  100   62  0.617284
2          Tampa Bay Rays   90   72  0.555556
3       Toronto Blue Jays   73   89  0.450617
4       Baltimore Orioles   47  115  0.290123
5       Cleveland Indians   91   71  0.561728
6         Minnesota Twins   78   84  0.481481
7          Detroit Tigers   64   98  0.395062
8       Chicago White Sox   62  100  0.382716
9      Kansas City Royals   58  104  0.358025
10         Houston Astros  103   59  0.635802
11      Oakland Athletics   97   65  0.598765
12       Seattle Mariners   89   73  0.549383
13     Los Angeles Angels   80   82  0.493827
14          Texas Rangers   67   95  0.413580
15         Atlanta Braves   90   72  0.555556
16   Washington Nationals   82   80  0.506173
17  Philadelphia Phillies   80   82  0.493827
18          New York Mets   77   85  0.475309
19          Miami Marlins   63   98  0.391304
20      Milwaukee Brewers   96   67  0.588957
21           Chicago Cubs   95   68  0.582822
22    St. Louis Cardinals   88   74  0.543210
23     Pittsburgh Pirates   82   79  0.509317
24        Cincinnati Reds   67   95  0.413580
25    Los Angeles Dodgers   92   71  0.564417
26       Colorado Rockies   91   72  0.558282
27   Arizona Diamondbacks   82   80  0.506173
28   San Francisco Giants   73   89  0.450617
29       San Diego Padres   66   96  0.407407

In [67]:
base_2018["Metropolitan area"] = base_2018.team.apply(get_city_name)

In [74]:
sorted(cities.loc[:, "Metropolitan area"])

['Atlanta',
 'Baltimore',
 'Boston',
 'Buffalo',
 'Calgary',
 'Charlotte',
 'Chicago',
 'Cincinnati',
 'Cleveland',
 'Columbus',
 'Dallas–Fort Worth',
 'Denver',
 'Detroit',
 'Edmonton',
 'Green Bay',
 'Hamilton',
 'Houston',
 'Indianapolis',
 'Jacksonville',
 'Kansas City',
 'Las Vegas',
 'Los Angeles',
 'Memphis',
 'Miami–Fort Lauderdale',
 'Milwaukee',
 'Minneapolis–Saint Paul',
 'Montreal',
 'Nashville',
 'New Orleans',
 'New York City',
 'Oklahoma City',
 'Orlando',
 'Ottawa',
 'Philadelphia',
 'Phoenix',
 'Pittsburgh',
 'Portland',
 'Raleigh',
 'Regina',
 'Sacramento',
 'Salt Lake City',
 'San Antonio',
 'San Diego',
 'San Francisco Bay Area',
 'Seattle',
 'St. Louis',
 'Tampa Bay Area',
 'Toronto',
 'Totals',
 'Vancouver',
 'Washington, D.C.',
 'Winnipeg']

In [75]:
rename_dict = {
    "New York": "New York City",
    "Brooklyn": "New York City",
    "Tampa Bay": "Tampa Bay Area",
    "Washington": "Washington, D.C.",
    "Dallas": "Dallas–Fort Worth",
    "Vegas": "Las Vegas",
    "Colorado": "Denver",
    "San Jose": "San Francisco Bay Area",
    "Anaheim": "Los Angeles",
    "Florida": "Miami–Fort Lauderdale",
    "Arizona": "Phoenix",
    "Carolina": "Raleigh",
    "Minnesota": "Minneapolis–Saint Paul",
    "New Jersey": "New York City",
    "Indiana": "Indianapolis",
    "Miami": "Miami–Fort Lauderdale",
    "Oklahoma": "Oklahoma City",
    "Utah": "Salt Lake City",
    "Golden State": "San Francisco Bay Area",
    "San Francisco": "San Francisco Bay Area",
    "Oakland": "San Francisco Bay Area",
    "Texas": "Dallas–Fort Worth"
}

In [76]:
base_2018["Metropolitan area"] = base_2018.loc[:, "Metropolitan area"] \
                            .apply(lambda cname: rename_dict.get(cname) if cname in rename_dict.keys() else cname)

In [77]:
set(base_2018.loc[:, "Metropolitan area"]).difference(set(cities.loc[:, "Metropolitan area"]))

set()

In [78]:
_cities = cities.loc[:, ["Metropolitan area", "Population (2016 est.)[8]"]]

In [79]:
pd.merge(_cities, base_2018, on = "Metropolitan area", how = "inner")

,Metropolitan area,Population (2016 est.)[8],team,W,L,wl_ratio
0,New York City,20153634,New York Yankees,100,62,0.617284
1,New York City,20153634,New York Mets,77,85,0.475309
2,Los Angeles,13310447,Los Angeles Angels,80,82,0.493827
3,Los Angeles,13310447,Los Angeles Dodgers,92,71,0.564417
4,San Francisco Bay Area,6657982,Oakland Athletics,97,65,0.598765
5,San Francisco Bay Area,6657982,San Francisco Giants,73,89,0.450617
6,Chicago,9512999,Chicago White Sox,62,100,0.382716
7,Chicago,9512999,Chicago Cubs,95,68,0.582822
8,Dallas–Fort Worth,7233323,Texas Rangers,67,95,0.413580
9,"Washington, D.C.",6131977,Washington Nationals,82,80,0.506173
10,Philadelphia,6070500,Philadelphia Phillies,80,82,0.493827
11,Boston,4794447,Boston Red Sox,108,54,0.666667
12,Minneapolis–Saint Paul,3551036,Minnesota Twins,78,84,0.481481
13,Denver,2853077,Colorado Rockies,91,72,0.558282
14,Miami–Fort Lauderdale,6066387,Miami Marlins,63,98,0.391304
15,Phoenix,4661537,Arizona Diamondbacks,82,80,0.506173
16,Detroit,4297617,Detroit Tigers,64,98,0.395062
17,Toronto,5928040,Toronto Blue Jays,73,89,0.450617
18,Houston,6772470,Houston Astros,103,59,0.635802
19,Atlanta,5789700,Atlanta Braves,90,72,0.555556
20,Tampa Bay Area,3032171,Tampa Bay Rays,90,72,0.555556
21,Pittsburgh,2342299,Pittsburgh Pirates,82,79,0.509317
22,Cleveland,2055612,Cleveland Indians,91,71,0.561728
23,Seattle,3798902,Seattle Mariners,89,73,0.549383
24,Cincinnati,2165139,Cincinnati Reds,67,95,0.413580
25,Kansas City,2104509,Kansas City Royals,58,104,0.358025
26,St. Louis,2807002,St. Louis Cardinals,88,74,0.543210
27,Baltimore,2798886,Baltimore Orioles,47,115,0.290123
28,Milwaukee,1572482,Milwaukee Brewers,96,67,0.588957
29,San Diego,3317749,San Diego Padres,66,96,0.407407

-------------------
# ***Football (NFL)***
---------------------

In [100]:
fball_2018 = football.loc[:, ["team", "W", "L", "year"]].query("year == 2018").drop(np.arange(0, 36, step = 5), axis = 0)
fball_2018 = fball_2018.astype({"W": np.int64, "L": np.int64})
fball_2018["wl_ratio"] = fball_2018.W / (fball_2018.W + fball_2018.L)
fball_2018.reset_index(drop = True, inplace = True)

In [101]:
football.head()

,DSRS,L,League,MoV,OSRS,PA,PD,PF,SRS,SoS,T,W,W-L%,team,year
0,AFC East,AFC East,NFL,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,2018
1,2.1,5,NFL,6.9,3.1,325,111,436,5.2,-1.8,0,11,.688,New England Patriots*,2018
2,-5.2,9,NFL,-7.1,-3.6,433,-114,319,-8.8,-1.7,0,7,.438,Miami Dolphins,2018
3,-0.6,10,NFL,-6.6,-6.3,374,-105,269,-6.9,-0.3,0,6,.375,Buffalo Bills,2018
4,-5.9,12,NFL,-6.8,-2.0,441,-108,333,-7.8,-1.1,0,4,.250,New York Jets,2018

In [102]:
fball_2018

                     team   W   L  year  wl_ratio
0   New England Patriots*  11   5  2018  0.687500
1          Miami Dolphins   7   9  2018  0.437500
2           Buffalo Bills   6  10  2018  0.375000
3           New York Jets   4  12  2018  0.250000
4       Baltimore Ravens*  10   6  2018  0.625000
5     Pittsburgh Steelers   9   6  2018  0.600000
6        Cleveland Browns   7   8  2018  0.466667
7      Cincinnati Bengals   6  10  2018  0.375000
8         Houston Texans*  11   5  2018  0.687500
9     Indianapolis Colts+  10   6  2018  0.625000
10       Tennessee Titans   9   7  2018  0.562500
11   Jacksonville Jaguars   5  11  2018  0.312500
12    Kansas City Chiefs*  12   4  2018  0.750000
13  Los Angeles Chargers+  12   4  2018  0.750000
14         Denver Broncos   6  10  2018  0.375000
15        Oakland Raiders   4  12  2018  0.250000
16        Dallas Cowboys*  10   6  2018  0.625000
17   Philadelphia Eagles+   9   7  2018  0.562500
18    Washington Redskins   7   9  2018  0.437500
19        New York Giants   5  11  2018  0.312500
20         Chicago Bears*  12   4  2018  0.750000
21      Minnesota Vikings   8   7  2018  0.533333
22      Green Bay Packers   6   9  2018  0.400000
23          Detroit Lions   6  10  2018  0.375000
24    New Orleans Saints*  13   3  2018  0.812500
25      Carolina Panthers   7   9  2018  0.437500
26        Atlanta Falcons   7   9  2018  0.437500
27   Tampa Bay Buccaneers   5  11  2018  0.312500
28      Los Angeles Rams*  13   3  2018  0.812500
29      Seattle Seahawks+  10   6  2018  0.625000
30    San Francisco 49ers   4  12  2018  0.250000
31      Arizona Cardinals   3  13  2018  0.187500

In [103]:
def get_city_name(team_name: str) -> str:
    _names = team_name.split(" ")
    if len(_names) > 2:
        return _names[0] + " " + _names[1]
    elif len(_names) == 2:
        return _names[0]
    else:
        return None

In [104]:
fball_2018["Metropolitan area"] = fball_2018.team.apply(get_city_name)

In [113]:
rename_dict = {
    "New York": "New York City",
    "Brooklyn": "New York City",
    "Tampa Bay": "Tampa Bay Area",
    "Washington": "Washington, D.C.",
    "Dallas": "Dallas–Fort Worth",
    "Vegas": "Las Vegas",
    "Colorado": "Denver",
    "San Jose": "San Francisco Bay Area",
    "Anaheim": "Los Angeles",
    "Florida": "Miami–Fort Lauderdale",
    "Arizona": "Phoenix",
    "Carolina": "Raleigh",
    "Minnesota": "Minneapolis–Saint Paul",
    "New Jersey": "New York City",
    "Indiana": "Indianapolis",
    "Miami": "Miami–Fort Lauderdale",
    "Oklahoma": "Oklahoma City",
    "Utah": "Salt Lake City",
    "Golden State": "San Francisco Bay Area",
    "San Francisco": "San Francisco Bay Area",
    "Oakland": "San Francisco Bay Area",
    "Texas": "Dallas–Fort Worth",
    "New England": "Boston",
    "Tennessee": "Nashville"
}

In [111]:
fball_2018["Metropolitan area"] = fball_2018.loc[:, "Metropolitan area"] \
                    .apply(lambda cname: rename_dict.get(cname) if cname in rename_dict.keys() else cname)

In [112]:
set(fball_2018.loc[:, "Metropolitan area"]).difference(set(cities.loc[:, "Metropolitan area"]))

set()

In [128]:
def get_city_name(team_name: str) -> str:
    _skips = ["Red", "Blue", "White", "Trail", "City", "Golden", "Maple"]
    _names = team_name.split(" ")
    if len(_names) > 2:
        if _names[1] not in _skips:
            return _names[0] + " " + _names[1]
        else:
            return _names[0]
    elif len(_names) == 2:
        return _names[0]
    else:
        return None

In [136]:
fball = football.loc[:, ["L", "W", "team", "year"]].query("year == 2018").drop(np.arange(0, 36, step = 5), axis = 0)
fball = fball.astype({"L": np.int64, "W": np.int64})
fball["wl_ratio"] = fball.W / (fball.W + fball.L)
fball.team.apply(get_city_name).apply(lambda cname: rename_dict.get(cname) if cname in rename_dict.keys() else cname)

1                     Boston
2      Miami–Fort Lauderdale
3                    Buffalo
4              New York City
6                  Baltimore
7                 Pittsburgh
8                  Cleveland
9                 Cincinnati
11                   Houston
12              Indianapolis
13                 Nashville
14              Jacksonville
16                    Kansas
17               Los Angeles
18                    Denver
19    San Francisco Bay Area
21         Dallas–Fort Worth
22              Philadelphia
23          Washington, D.C.
24             New York City
26                   Chicago
27    Minneapolis–Saint Paul
28                 Green Bay
29                   Detroit
31               New Orleans
32                   Raleigh
33                   Atlanta
34            Tampa Bay Area
36               Los Angeles
37                   Seattle
38    San Francisco Bay Area
39                   Phoenix
Name: team, dtype: object