In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from string import ascii_uppercase

In [2]:
# Pandas has 4 main time related classes

# TimeStamp
# DateTime
# Period
# PeriodIndex

## ***Time stamps***
------------------

In [7]:
pd.Timestamp("12-23-1999 12:55:32")

Timestamp('1999-12-23 12:55:32')

In [9]:
pd.Timestamp(year = 2010, month = 7, day = 22, hour = 15, minute = 55, second = 45, microsecond = 87)

Timestamp('2010-07-22 15:55:45.000087')

In [11]:
dob = pd.Timestamp(year = 1997, month = 1, day = 18)

In [14]:
dob.day_name()

'Saturday'

In [15]:
dob.isoweekday()

6

## ***Periods***
------------------

In [17]:
# specifies a month

pd.Period("12-1999")

Period('1999-12', 'M')

In [19]:
# a day

pd.Period("12-11-2019")

Period('2019-12-11', 'D')

In [21]:
# hour

pd.Period("23-11-2020 12")

Period('2020-11-23 12:00', 'H')

In [27]:
# period objects represent a timespan, thus enabling arithmetics

# pd.Timestamp("12-11-2011 14:45:54")
pd.Period("12-11-2011").days_in_month

31

In [28]:
this_jan = pd.Period("01-2023")

In [32]:
this_jan + 2

Period('2023-03', 'M')

In [33]:
this_jan + 4

Period('2023-05', 'M')

In [35]:
this_jan - 8

Period('2022-05', 'M')

## ***DateTimeIndex & PeriodIndex***

In [42]:
pd.Series(["12-12-1912", "23-Jan-2019", "12/23/2018 15:48:56", "23.11.2013"], dtype = "datetime64[ns]")

C:\Users\Anoban\AppData\Local\Temp\ipykernel_2096\2434561228.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.Series(["12-12-1912", "23-Jan-2019", "12/23/2018 15:48:56", "23.11.2013"], dtype = "datetime64[ns]")

0   1912-12-12 00:00:00
1   2019-01-23 00:00:00
2   2018-12-23 15:48:56
3   2013-11-23 00:00:00
dtype: datetime64[ns]

In [16]:
idx = list()
for day in range(1, 27):
    idx.append(pd.Timestamp(year = 1997, month = 1, day = day, hour = 12))

_dates = pd.Series(list(ascii_uppercase), index = idx)

In [17]:
_dates[:3]

1997-01-01 12:00:00    A
1997-01-02 12:00:00    B
1997-01-03 12:00:00    C
dtype: object

In [19]:
type(_dates.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [13]:
[pd.Timestamp(year = 1997, month = 5, day = i, hour = 14, minute = i + 24, microsecond = i + 49) for i in range(1, 27)]

[Timestamp('1997-05-01 14:25:00.000050'),
 Timestamp('1997-05-02 14:26:00.000051'),
 Timestamp('1997-05-03 14:27:00.000052'),
 Timestamp('1997-05-04 14:28:00.000053'),
 Timestamp('1997-05-05 14:29:00.000054'),
 Timestamp('1997-05-06 14:30:00.000055'),
 Timestamp('1997-05-07 14:31:00.000056'),
 Timestamp('1997-05-08 14:32:00.000057'),
 Timestamp('1997-05-09 14:33:00.000058'),
 Timestamp('1997-05-10 14:34:00.000059'),
 Timestamp('1997-05-11 14:35:00.000060'),
 Timestamp('1997-05-12 14:36:00.000061'),
 Timestamp('1997-05-13 14:37:00.000062'),
 Timestamp('1997-05-14 14:38:00.000063'),
 Timestamp('1997-05-15 14:39:00.000064'),
 Timestamp('1997-05-16 14:40:00.000065'),
 Timestamp('1997-05-17 14:41:00.000066'),
 Timestamp('1997-05-18 14:42:00.000067'),
 Timestamp('1997-05-19 14:43:00.000068'),
 Timestamp('1997-05-20 14:44:00.000069'),
 Timestamp('1997-05-21 14:45:00.000070'),
 Timestamp('1997-05-22 14:46:00.000071'),
 Timestamp('1997-05-23 14:47:00.000072'),
 Timestamp('1997-05-24 14:48:00.000073'),
 Timestamp('1997-05-25 14:49:00.000074'),
 Timestamp('1997-05-26 14:50:00.000075')]

In [4]:
pd.Timestamp(year = 1997, month = 1, day = 12, hour = 12)

Timestamp('1997-01-12 12:00:00')

In [7]:
day = 1
dates = list()

while (day < 31):
    print(pd.Timestamp(year = 2018, month = 6, day = day, hour = 13, minute = 10 + day, second = 26 + day))
    dates.append(pd.Timestamp(year = 2018, month = 6, day = day, hour = 13, minute = 10 + day, second = 26 + day))
    day += 1

2018-06-01 13:11:27
2018-06-02 13:12:28
2018-06-03 13:13:29
2018-06-04 13:14:30
2018-06-05 13:15:31
2018-06-06 13:16:32
2018-06-07 13:17:33
2018-06-08 13:18:34
2018-06-09 13:19:35
2018-06-10 13:20:36
2018-06-11 13:21:37
2018-06-12 13:22:38
2018-06-13 13:23:39
2018-06-14 13:24:40
2018-06-15 13:25:41
2018-06-16 13:26:42
2018-06-17 13:27:43
2018-06-18 13:28:44
2018-06-19 13:29:45
2018-06-20 13:30:46
2018-06-21 13:31:47
2018-06-22 13:32:48
2018-06-23 13:33:49
2018-06-24 13:34:50
2018-06-25 13:35:51
2018-06-26 13:36:52
2018-06-27 13:37:53
2018-06-28 13:38:54
2018-06-29 13:39:55
2018-06-30 13:40:56

In [8]:
dates

[Timestamp('2018-06-01 13:11:27'),
 Timestamp('2018-06-02 13:12:28'),
 Timestamp('2018-06-03 13:13:29'),
 Timestamp('2018-06-04 13:14:30'),
 Timestamp('2018-06-05 13:15:31'),
 Timestamp('2018-06-06 13:16:32'),
 Timestamp('2018-06-07 13:17:33'),
 Timestamp('2018-06-08 13:18:34'),
 Timestamp('2018-06-09 13:19:35'),
 Timestamp('2018-06-10 13:20:36'),
 Timestamp('2018-06-11 13:21:37'),
 Timestamp('2018-06-12 13:22:38'),
 Timestamp('2018-06-13 13:23:39'),
 Timestamp('2018-06-14 13:24:40'),
 Timestamp('2018-06-15 13:25:41'),
 Timestamp('2018-06-16 13:26:42'),
 Timestamp('2018-06-17 13:27:43'),
 Timestamp('2018-06-18 13:28:44'),
 Timestamp('2018-06-19 13:29:45'),
 Timestamp('2018-06-20 13:30:46'),
 Timestamp('2018-06-21 13:31:47'),
 Timestamp('2018-06-22 13:32:48'),
 Timestamp('2018-06-23 13:33:49'),
 Timestamp('2018-06-24 13:34:50'),
 Timestamp('2018-06-25 13:35:51'),
 Timestamp('2018-06-26 13:36:52'),
 Timestamp('2018-06-27 13:37:53'),
 Timestamp('2018-06-28 13:38:54'),
 Timestamp('2018-06-29 13:39:55'),
 Timestamp('2018-06-30 13:40:56')]

In [25]:
pd.Series(list(ascii_uppercase), [pd.Period(str(i) + "-11-1999") for i in range(1, 27)])

C:\Users\Anoban\AppData\Local\Temp\ipykernel_5364\2989273730.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.Series(list(ascii_uppercase), [pd.Period(str(i) + "-11-1999") for i in range(1, 27)])

1999-01-11    A
1999-02-11    B
1999-03-11    C
1999-04-11    D
1999-05-11    E
1999-06-11    F
1999-07-11    G
1999-08-11    H
1999-09-11    I
1999-10-11    J
1999-11-11    K
1999-12-11    L
1999-11-13    M
1999-11-14    N
1999-11-15    O
1999-11-16    P
1999-11-17    Q
1999-11-18    R
1999-11-19    S
1999-11-20    T
1999-11-21    U
1999-11-22    V
1999-11-23    W
1999-11-24    X
1999-11-25    Y
1999-11-26    Z
Freq: D, dtype: object

In [32]:
inconsistently_formatted_dates = ["12-Aug-1995", "30-09-2010", "09/18/2020", "10.23.2022", "2011/11/17"]

In [35]:
pd.to_datetime(inconsistently_formatted_dates, dayfirst = False)

C:\Users\Anoban\AppData\Local\Temp\ipykernel_5364\2466852407.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.to_datetime(inconsistently_formatted_dates, dayfirst = False)

DatetimeIndex(['1995-08-12', '2010-09-30', '2020-09-18', '2022-10-23',
               '2011-11-17'],
              dtype='datetime64[ns]', freq=None)

## ***Time Delta***

In [41]:
pd.set_option("display.date_dayfirst", True)

In [42]:
pd.Timestamp("12-11-2022") - pd.Timestamp("13-10-1987")

C:\Users\Anoban\AppData\Local\Temp\ipykernel_5364\1162659413.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.Timestamp("12-11-2022") - pd.Timestamp("13-10-1987")

Timedelta('12843 days 00:00:00')

In [44]:
pd.describe_option();

compute.use_bottleneck : bool
    Use the bottleneck library to accelerate if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
compute.use_numba : bool
    Use the numba engine option for select operations if it is installed,
    the default is False
    Valid values: False,True
    [default: False] [currently: False]
compute.use_numexpr : bool
    Use the numexpr library to accelerate computation if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
display.chop_threshold : float or None
    if set to a float value, all float values smaller than the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]
display.column_space No description available.
    [default: 12] [currently: 12]
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: True]
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table (the default from 0.13), or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]
display.latex.escape : bool
    This specifies if the to_latex method of a Dataframe uses escapes special
    characters.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.longtable :bool
    This specifies if the to_latex method of a Dataframe uses the longtable
    format.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.multicolumn : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.multicolumn_format : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: l] [currently: l]
display.latex.multirow : bool
    This specifies if the to_latex method of a Dataframe uses multirows
    to pretty-print MultiIndex rows.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.repr : boolean
    Whether to produce a latex DataFrame representation for jupyter
    environments that support it.
    (default: False)
    [default: False] [currently: False]
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
display.max_dir_items : int
    The number of items that will be added to `dir(...)`. 'None' value means
    unlimited. Because dir is cached, changing this option will not immediately
    affect already existing dataframes until a column is deleted or added.

    This is for instance used to suggest columns from a dataframe to tab
    completion.
    [default: 100] [currently: 100]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]
display.max_info_rows : int or None
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]
display.max_seq_items : int or None
    When pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]
display.precision : int
    Floating point output precision in terms of number of places after the
    decimal, for regular formatting as well as scientific notation. Similar
    to ``precision`` in :meth:`numpy.set_printoptions`.
    [default: 6] [currently: 6]
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]
io.excel.ods.reader : string
    The default Excel reader engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.ods.writer : string
    The default Excel writer engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.xls.reader : string
    The default Excel reader engine for 'xls' files. Available options:
    auto, xlrd.
    [default: auto] [currently: auto]
io.excel.xls.writer : string
    The default Excel writer engine for 'xls' files. Available options:
    auto, xlwt.
    [default: auto] [currently: auto]
    (Deprecated, use `` instead.)
io.excel.xlsb.reader : string
    The default Excel reader engine for 'xlsb' files. Available options:
    auto, pyxlsb.
    [default: auto] [currently: auto]
io.excel.xlsm.reader : string
    The default Excel reader engine for 'xlsm' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsm.writer : string
    The default Excel writer engine for 'xlsm' files. Available options:
    auto, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.reader : string
    The default Excel reader engine for 'xlsx' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.writer : string
    The default Excel writer engine for 'xlsx' files. Available options:
    auto, openpyxl, xlsxwriter.
    [default: auto] [currently: auto]
io.hdf.default_format : format
    default format writing format, if None, then
    put will default to 'fixed' and append will default to 'table'
    [default: None] [currently: None]
io.hdf.dropna_table : boolean
    drop ALL nan rows when appending to a table
    [default: False] [currently: False]
io.parquet.engine : string
    The default parquet reader/writer engine. Available options:
    'auto', 'pyarrow', 'fastparquet', the default is 'auto'
    [default: auto] [currently: auto]
io.sql.engine : string
    The default sql reader/writer engine. Available options:
    'auto', 'sqlalchemy', the default is 'auto'
    [default: auto] [currently: auto]
mode.chained_assignment : string
    Raise an exception, warn, or no action if trying to use chained assignment,
    The default is warn
    [default: warn] [currently: warn]
mode.copy_on_write : bool
    Use new copy-view behaviour using Copy-on-Write. Defaults to False,
    unless overridden by the 'PANDAS_COPY_ON_WRITE' environment variable
    (if set to "1" for True, needs to be set before pandas is imported).
    [default: False] [currently: False]
mode.data_manager : string
    Internal data manager type; can be "block" or "array". Defaults to "block",
    unless overridden by the 'PANDAS_DATA_MANAGER' environment variable (needs
    to be set before pandas is imported).
    [default: block] [currently: block]
mode.sim_interactive : boolean
    Whether to simulate interactive mode for purposes of testing
    [default: False] [currently: False]
mode.string_storage : string
    The default storage for StringDtype.
    [default: python] [currently: python]
mode.use_inf_as_na : boolean
    True means treat None, NaN, INF, -INF as NA (old way),
    False means None and NaN are null, but INF, -INF are not NA
    (new way).
    [default: False] [currently: False]
mode.use_inf_as_null : boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.
    [default: False] [currently: False]
    (Deprecated, use `mode.use_inf_as_na` instead.)
plotting.backend : str
    The plotting backend to use. The default value is "matplotlib", the
    backend provided with pandas. Other backends can be specified by
    providing the name of the module that implements the backend.
    [default: matplotlib] [currently: matplotlib]
plotting.matplotlib.register_converters : bool or 'auto'.
    Whether to register converters with matplotlib's units registry for
    dates, times, datetimes, and Periods. Toggling to False will remove
    the converters, restoring any converters that pandas overwrote.
    [default: auto] [currently: auto]
styler.format.decimal : str
    The character representation for the decimal separator for floats and complex.
    [default: .] [currently: .]
styler.format.escape : str, optional
    Whether to escape certain characters according to the given context; html or latex.
    [default: None] [currently: None]
styler.format.formatter : str, callable, dict, optional
    A formatter object to be used as default within ``Styler.format``.
    [default: None] [currently: None]
styler.format.na_rep : str, optional
    The string representation for values identified as missing.
    [default: None] [currently: None]
styler.format.precision : int
    The precision for floats and complex numbers.
    [default: 6] [currently: 6]
styler.format.thousands : str, optional
    The character representation for thousands separator for floats, int and complex.
    [default: None] [currently: None]
styler.html.mathjax : bool
    If False will render special CSS classes to table attributes that indicate Mathjax
    will not be used in Jupyter Notebook.
    [default: True] [currently: True]
styler.latex.environment : str
    The environment to replace ``\begin{table}``. If "longtable" is used results
    in a specific longtable environment format.
    [default: None] [currently: None]
styler.latex.hrules : bool
    Whether to add horizontal rules on top and bottom and below the headers.
    [default: False] [currently: False]
styler.latex.multicol_align : {"r", "c", "l", "naive-l", "naive-r"}
    The specifier for horizontal alignment of sparsified LaTeX multicolumns. Pipe
    decorators can also be added to non-naive values to draw vertical
    rules, e.g. "\|r" will draw a rule on the left side of right aligned merged cells.
    [default: r] [currently: r]
styler.latex.multirow_align : {"c", "t", "b"}
    The specifier for vertical alignment of sparsified LaTeX multirows.
    [default: c] [currently: c]
styler.render.encoding : str
    The encoding used for output HTML and LaTeX files.
    [default: utf-8] [currently: utf-8]
styler.render.max_columns : int, optional
    The maximum number of columns that will be rendered. May still be reduced to
    satsify ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.max_elements : int
    The maximum number of data-cell (<td>) elements that will be rendered before
    trimming will occur over columns, rows or both if needed.
    [default: 262144] [currently: 262144]
styler.render.max_rows : int, optional
    The maximum number of rows that will be rendered. May still be reduced to
    satsify ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.repr : str
    Determine which output to use in Jupyter Notebook in {"html", "latex"}.
    [default: html] [currently: html]
styler.sparse.columns : bool
    Whether to sparsify the display of hierarchical columns. Setting to False will
    display each explicit level element in a hierarchical key for each column.
    [default: True] [currently: True]
styler.sparse.index : bool
    Whether to sparsify the display of a hierarchical index. Setting to False will
    display each explicit level element in a hierarchical key for each row.
    [default: True] [currently: True]

In [46]:
pd.Timedelta(13, unit = "d")

Timedelta('13 days 00:00:00')

In [58]:
pd.Timedelta(453, unit = "W")

Timedelta('3171 days 00:00:00')

## ***Offsets***

In [61]:
pd.Timestamp("1990-12-23").weekday()

6

In [65]:
pd.Timestamp("1990-12-23").isoweekday()

7

In [68]:
pd.Timestamp("1990-12-23").day_name()

'Sunday'

In [69]:
pd.Timestamp("1990-12-23") + pd.offsets.Week()

Timestamp('1990-12-30 00:00:00')

In [70]:
pd.Timestamp("1990-12-23") + pd.offsets.MonthBegin()

Timestamp('1991-01-01 00:00:00')

## ***Dates in a DataFrame***

In [78]:
# every 2 days

pd.date_range(start = "19-12-2019", end = "13-10-2020", freq = "2D")

C:\Users\Anoban\AppData\Local\Temp\ipykernel_5364\1230450208.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.date_range(start = "19-12-2019", end = "13-10-2020", freq = "2D")

DatetimeIndex(['2019-12-19', '2019-12-21', '2019-12-23', '2019-12-25',
               '2019-12-27', '2019-12-29', '2019-12-31', '2020-01-02',
               '2020-01-04', '2020-01-06',
               ...
               '2020-09-24', '2020-09-26', '2020-09-28', '2020-09-30',
               '2020-10-02', '2020-10-04', '2020-10-06', '2020-10-08',
               '2020-10-10', '2020-10-12'],
              dtype='datetime64[ns]', length=150, freq='2D')

In [77]:
# biweekly on Sundays

pd.date_range(start = "19-12-2019", end = "13-10-2020", freq = "2W-SUN")

C:\Users\Anoban\AppData\Local\Temp\ipykernel_5364\3798115651.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.date_range(start = "19-12-2019", end = "13-10-2020", freq = "2W-SUN")

DatetimeIndex(['2019-12-22', '2020-01-05', '2020-01-19', '2020-02-02',
               '2020-02-16', '2020-03-01', '2020-03-15', '2020-03-29',
               '2020-04-12', '2020-04-26', '2020-05-10', '2020-05-24',
               '2020-06-07', '2020-06-21', '2020-07-05', '2020-07-19',
               '2020-08-02', '2020-08-16', '2020-08-30', '2020-09-13',
               '2020-09-27', '2020-10-11'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [76]:
# weekly on Saturdays

pd.date_range(start = "19-12-2019", end = "13-10-2020", freq = "W-SAT")

C:\Users\Anoban\AppData\Local\Temp\ipykernel_5364\2794501182.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.date_range(start = "19-12-2019", end = "13-10-2020", freq = "W-SAT")

DatetimeIndex(['2019-12-21', '2019-12-28', '2020-01-04', '2020-01-11',
               '2020-01-18', '2020-01-25', '2020-02-01', '2020-02-08',
               '2020-02-15', '2020-02-22', '2020-02-29', '2020-03-07',
               '2020-03-14', '2020-03-21', '2020-03-28', '2020-04-04',
               '2020-04-11', '2020-04-18', '2020-04-25', '2020-05-02',
               '2020-05-09', '2020-05-16', '2020-05-23', '2020-05-30',
               '2020-06-06', '2020-06-13', '2020-06-20', '2020-06-27',
               '2020-07-04', '2020-07-11', '2020-07-18', '2020-07-25',
               '2020-08-01', '2020-08-08', '2020-08-15', '2020-08-22',
               '2020-08-29', '2020-09-05', '2020-09-12', '2020-09-19',
               '2020-09-26', '2020-10-03', '2020-10-10'],
              dtype='datetime64[ns]', freq='W-SAT')

In [79]:
# every business day

pd.date_range(start = "19-10-2019", end = "13-12-2019", freq = "B")

C:\Users\Anoban\AppData\Local\Temp\ipykernel_5364\1398375013.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.date_range(start = "19-10-2019", end = "13-12-2019", freq = "B")

DatetimeIndex(['2019-10-21', '2019-10-22', '2019-10-23', '2019-10-24',
               '2019-10-25', '2019-10-28', '2019-10-29', '2019-10-30',
               '2019-10-31', '2019-11-01', '2019-11-04', '2019-11-05',
               '2019-11-06', '2019-11-07', '2019-11-08', '2019-11-11',
               '2019-11-12', '2019-11-13', '2019-11-14', '2019-11-15',
               '2019-11-18', '2019-11-19', '2019-11-20', '2019-11-21',
               '2019-11-22', '2019-11-25', '2019-11-26', '2019-11-27',
               '2019-11-28', '2019-11-29', '2019-12-02', '2019-12-03',
               '2019-12-04', '2019-12-05', '2019-12-06', '2019-12-09',
               '2019-12-10', '2019-12-11', '2019-12-12', '2019-12-13'],
              dtype='datetime64[ns]', freq='B')

In [92]:
dummy = pd.DataFrame({"A": np.random.randint(0, 100, 20), "B": np.random.randint(0, 100, 20).cumsum()},
             index = pd.date_range("01-01-1990", periods = 20, freq = "W-WED"))

In [93]:
dummy.index.day_name()

Index(['Wednesday', 'Wednesday', 'Wednesday', 'Wednesday', 'Wednesday',
       'Wednesday', 'Wednesday', 'Wednesday', 'Wednesday', 'Wednesday',
       'Wednesday', 'Wednesday', 'Wednesday', 'Wednesday', 'Wednesday',
       'Wednesday', 'Wednesday', 'Wednesday', 'Wednesday', 'Wednesday'],
      dtype='object')

In [94]:
dummy

             A     B
1990-01-03  65    40
1990-01-10  93    68
1990-01-17  24   100
1990-01-24  81   162
1990-01-31   2   185
1990-02-07  73   251
1990-02-14  76   342
1990-02-21  71   424
1990-02-28  35   470
1990-03-07   6   495
1990-03-14  68   549
1990-03-21  25   628
1990-03-28  19   656
1990-04-04  53   733
1990-04-11  88   810
1990-04-18  62   850
1990-04-25  42   937
1990-05-02  99  1019
1990-05-09  11  1111
1990-05-16  20  1210

In [98]:
# difference between previous row element in the same column

dummy.diff(axis = 0)

               A     B
1990-01-03   NaN   NaN
1990-01-10  28.0  28.0
1990-01-17 -69.0  32.0
1990-01-24  57.0  62.0
1990-01-31 -79.0  23.0
1990-02-07  71.0  66.0
1990-02-14   3.0  91.0
1990-02-21  -5.0  82.0
1990-02-28 -36.0  46.0
1990-03-07 -29.0  25.0
1990-03-14  62.0  54.0
1990-03-21 -43.0  79.0
1990-03-28  -6.0  28.0
1990-04-04  34.0  77.0
1990-04-11  35.0  77.0
1990-04-18 -26.0  40.0
1990-04-25 -20.0  87.0
1990-05-02  57.0  82.0
1990-05-09 -88.0  92.0
1990-05-16   9.0  99.0

In [100]:
# NaNs in first col because you cannot substract a number from None

dummy.diff(axis = 1)

             A     B
1990-01-03 NaN   -25
1990-01-10 NaN   -25
1990-01-17 NaN    76
1990-01-24 NaN    81
1990-01-31 NaN   183
1990-02-07 NaN   178
1990-02-14 NaN   266
1990-02-21 NaN   353
1990-02-28 NaN   435
1990-03-07 NaN   489
1990-03-14 NaN   481
1990-03-21 NaN   603
1990-03-28 NaN   637
1990-04-04 NaN   680
1990-04-11 NaN   722
1990-04-18 NaN   788
1990-04-25 NaN   895
1990-05-02 NaN   920
1990-05-09 NaN  1100
1990-05-16 NaN  1190