In [77]:
import numpy as np
from csv import DictReader
from typing import Callable
import math
import statistics

In [18]:
def factorial(n: int):
    """
    Raturns the factorial of the provided number.
    """
    assert(n >= 1)
    result = 1
    for i in range(n, 1, -1):
        result *= i
    return result

In [24]:
for i in range(1, 100):
    assert(factorial(i) == np.math.factorial(i))

In [29]:
["James", "Julie", "Natalie"] * 2

['James', 'Julie', 'Natalie', 'James', 'Julie', 'Natalie']

In [30]:
course = "Introduction to Data Science in Python"

In [35]:
course[10:]

'on to Data Science in Python'

In [36]:
course[::5]

'Ido  nnh'

In [38]:
course[::-1]

'nohtyP ni ecneicS ataD ot noitcudortnI'

In [40]:
course[::1]

'Introduction to Data Science in Python'

In [41]:
course.upper()

'INTRODUCTION TO DATA SCIENCE IN PYTHON'

In [42]:
course.title()

'Introduction To Data Science In Python'

In [43]:
course.lower()

'introduction to data science in python'

In [44]:
course.strip()

'Introduction to Data Science in Python'

In [45]:
course.replace(" ", "-")

'Introduction-to-Data-Science-in-Python'

In [46]:
count_chars = dict()

for char in course:
    if char not in count_chars.keys():
        count_chars[char] = 1
    else:
        count_chars[char] += 1

In [51]:
print(count_chars, sep = ", ")

{'I': 1, 'n': 5, 't': 5, 'r': 1, 'o': 4, 'd': 1, 'u': 1, 'c': 3, 'i': 3, ' ': 5, 'D': 1, 'a': 2, 'S': 1, 'e': 2, 'P': 1, 'y': 1, 'h': 1}

In [52]:
names = ("Julia", "Mitchelle", "Janice", "Leslie", "Juanita", "Robin", "Linda")

In [56]:
Julia, Mitchelle, *_ = names

In [57]:
Julia, Mitchelle

('Julia', 'Mitchelle')

In [59]:
_

['Janice', 'Leslie', 'Juanita', 'Robin', 'Linda']

In [60]:
with open(r"D:\Introduction-to-Data-Science-in-Python\week-1\datasets\mpg.csv") as file:
    mpg = list(DictReader(file))

In [68]:
mpg[0:2]

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'}]

In [69]:
len(mpg)

234

In [82]:
cities = list(set(int(record.get("cty")) for record in mpg))
cities.sort()

In [83]:
cities

[9,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 28,
 29,
 33,
 35]

In [85]:
city_wise_mean_displacement = dict()

for record in mpg:
    if int(record.get("cty")) in city_wise_mean_displacement:
        city_wise_mean_displacement[int(record.get("cty"))].append(float(record.get("displ")))
    else:
        city_wise_mean_displacement[int(record.get("cty"))] = [float(record.get("displ"))]

In [87]:
for city_id in city_wise_mean_displacement.keys():
    city_wise_mean_displacement[city_id] = np.mean(city_wise_mean_displacement[city_id])

In [88]:
city_wise_mean_displacement

{18: 2.815384615384615,
 21: 2.1739130434782608,
 20: 2.3181818181818183,
 16: 3.6789473684210523,
 19: 2.565,
 15: 3.9708333333333337,
 17: 3.14375,
 14: 4.557894736842105,
 11: 5.15,
 13: 4.833333333333333,
 12: 5.050000000000001,
 22: 2.2,
 9: 4.7,
 28: 1.7000000000000002,
 24: 1.72,
 25: 1.7000000000000002,
 23: 2.1999999999999997,
 26: 1.8,
 33: 1.9,
 35: 1.9,
 29: 1.9}

In [2]:
def sumContainer(container):
    sum = 0
    for i in container:
        sum += i
    return sum

In [6]:
sumContainer(list(range(1000)))

499500

In [7]:
def sumContainer(container):
    sum = 0
    [sum := (sum + i) for i in container]
    return sum

In [9]:
sumContainer(list(range(1000)))

499500

In [15]:
def sayHi(invoker: str) -> None:
    print(f"Hi there {invoker}!..")
    # no explicit return here

In [16]:
res = sayHi("Natalie")

Hi there Natalie!..

In [18]:
# has retunred a None
type(res)

NoneType

In [30]:
# functions are first class objects in Python

def returnAdder(value_parent: int) -> Callable[int, int]:
    def adder(value: int):
        return value_parent + value
    return adder

In [31]:
type(sayHi)

function

In [32]:
adder_that_adds_24_to_input = returnAdder(24)

In [33]:
adder_that_adds_24_to_input(10)

34

### ***Three native collections in Python***
- ***tuples***
- ***lists***
- ***sets***

In [34]:
[1, "Julian", ["Hi", "Hola"]] + ["Anoban"]

[1, 'Julian', ['Hi', 'Hola'], 'Anoban']

In [35]:
nums = list(range(1000))

In [37]:
nums[100]

100

In [38]:
nums[10:20]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [39]:
nums[::100]

[0, 100, 200, 300, 400, 500, 600, 700, 800, 900]

In [40]:
nums[::-100]

[999, 899, 799, 699, 599, 499, 399, 299, 199, 99]

In [44]:
nums[10:20][::-1]

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

In [49]:
nums[-20:-10]

[980, 981, 982, 983, 984, 985, 986, 987, 988, 989]

In [52]:
nums[-10:-20]

[]

In [53]:
_fName = "Christopher"; _lname = "Brooks";
print(_fName, _lname)

Christopher Brooks

In [55]:
_fName + " " + _lname

'Christopher Brooks'

In [57]:
f"{_fName} {_lname}"

'Christopher Brooks'

In [58]:
"Chris" in _fName

True

In [59]:
"ooks" not in _lname

False

#### ***UTF -> Unicode Transformation Format***

In [71]:
with open(r"D:/Introduction-to-Data-Science-in-Python/week-1/datasets/mpg.csv") as file:
    mpg = list(DictReader(file))

In [72]:
for dictionary in mpg:
    del dictionary[""]

In [76]:
len(mpg)

234

In [99]:
mpg[0]

{'manufacturer': 'audi',
 'model': 'a4',
 'displ': '1.8',
 'year': '1999',
 'cyl': '4',
 'trans': 'auto(l5)',
 'drv': 'f',
 'cty': '18',
 'hwy': '29',
 'fl': 'p',
 'class': 'compact'}

In [78]:
# average city mpg
average = statistics.mean([int(dictionary.get("cty")) for dictionary in mpg])
average

16.858974358974358

In [79]:
# average highway mpg
hway_average = statistics.mean([int(dictionary.get("hwy")) for dictionary in mpg])
hway_average

23.44017094017094

In [80]:
cylinder_types = set(dictionary.get("cyl") for dictionary in mpg)
cylinder_types

{'4', '5', '6', '8'}

In [96]:
# average city mpg, grouped by the number of cylinders a car has

average_city_mpg_by_cylinders = list()
for cylinder in set(dictionary.get("cyl") for dictionary in mpg):    # all unique cylinders
    average_city_mpg_by_cylinders.append((cylinder,
    statistics.mean([int(dictionary.get("cty")) for dictionary in mpg if dictionary.get("cyl") == cylinder])))

In [98]:
average_city_mpg_by_cylinders.sort()
average_city_mpg_by_cylinders

[('4', 21.012345679012345),
 ('5', 20.5),
 ('6', 16.21518987341772),
 ('8', 12.571428571428571)]

In [92]:
# average highway mpg, for different vehicle classes

average_highway_mpg_by_vehicle_classes = list()

for vehicle_class in set(dictionary.get("class") for dictionary in mpg):
    average_highway_mpg_by_vehicle_classes.append((vehicle_class, 
    statistics.mean([int(dictionary.get("hwy")) for dictionary in mpg if dictionary.get("class") == vehicle_class])))

In [95]:
average_highway_mpg_by_vehicle_classes.sort()
average_highway_mpg_by_vehicle_classes

[('2seater', 24.8),
 ('compact', 28.29787234042553),
 ('midsize', 27.29268292682927),
 ('minivan', 22.363636363636363),
 ('pickup', 16.87878787878788),
 ('subcompact', 28.142857142857142),
 ('suv', 18.129032258064516)]

In [110]:
# number of different cylinders by brand name and model

data = list()

for brand in set(dictionary.get("manufacturer") for dictionary in mpg):    # gets all unique manufacturers
    manufac = [dictionary for dictionary in mpg if dictionary.get("manufacturer") == brand]
    brand_dict = dict()
    for model in set(dictionary.get("model") for dictionary in manufac):
        brand_dict[model] = sorted(list(set(dictionary.get("cyl") for dictionary in manufac if dictionary.get("model") == model)))
    data.append({brand: brand_dict})

In [111]:
data

[{'pontiac': {'grand prix': ['6', '8']}},
 {'dodge': {'dakota pickup 4wd': ['6', '8'],
   'ram 1500 pickup 4wd': ['8'],
   'durango 4wd': ['6', '8'],
   'caravan 2wd': ['4', '6']}},
 {'lincoln': {'navigator 2wd': ['8']}},
 {'chevrolet': {'corvette': ['8'],
   'malibu': ['4', '6'],
   'k1500 tahoe 4wd': ['8'],
   'c1500 suburban 2wd': ['8']}},
 {'honda': {'civic': ['4']}},
 {'jeep': {'grand cherokee 4wd': ['6', '8']}},
 {'land rover': {'range rover': ['8']}},
 {'mercury': {'mountaineer 4wd': ['6', '8']}},
 {'nissan': {'pathfinder 4wd': ['6', '8'],
   'altima': ['4', '6'],
   'maxima': ['6']}},
 {'toyota': {'toyota tacoma 4wd': ['4', '6'],
   '4runner 4wd': ['4', '6', '8'],
   'camry solara': ['4', '6'],
   'corolla': ['4'],
   'land cruiser wagon 4wd': ['8'],
   'camry': ['4', '6']}},
 {'hyundai': {'sonata': ['4', '6'], 'tiburon': ['4', '6']}},
 {'audi': {'a6 quattro': ['6', '8'],
   'a4 quattro': ['4', '6'],
   'a4': ['4', '6']}},
 {'ford': {'f150 pickup 4wd': ['6', '8'],
   'expedition 2wd': ['8'],
   'mustang': ['6', '8'],
   'explorer 4wd': ['6', '8']}},
 {'subaru': {'impreza awd': ['4'], 'forester awd': ['4']}},
 {'volkswagen': {'gti': ['4', '6'],
   'jetta': ['4', '5', '6'],
   'passat': ['4', '6'],
   'new beetle': ['4', '5']}}]