In [60]:
import numpy as np
from csv import DictReader

In [18]:
def factorial(n: int):
    """
    Raturns the factorial of the provided number.
    """
    assert(n >= 1)
    result = 1
    for i in range(n, 1, -1):
        result *= i
    return result

In [24]:
for i in range(1, 100):
    assert(factorial(i) == np.math.factorial(i))

In [29]:
["James", "Julie", "Natalie"] * 2

['James', 'Julie', 'Natalie', 'James', 'Julie', 'Natalie']

In [30]:
course = "Introduction to Data Science in Python"

In [35]:
course[10:]

'on to Data Science in Python'

In [36]:
course[::5]

'Ido  nnh'

In [38]:
course[::-1]

'nohtyP ni ecneicS ataD ot noitcudortnI'

In [40]:
course[::1]

'Introduction to Data Science in Python'

In [41]:
course.upper()

'INTRODUCTION TO DATA SCIENCE IN PYTHON'

In [42]:
course.title()

'Introduction To Data Science In Python'

In [43]:
course.lower()

'introduction to data science in python'

In [44]:
course.strip()

'Introduction to Data Science in Python'

In [45]:
course.replace(" ", "-")

'Introduction-to-Data-Science-in-Python'

In [46]:
count_chars = dict()

for char in course:
    if char not in count_chars.keys():
        count_chars[char] = 1
    else:
        count_chars[char] += 1

In [51]:
print(count_chars, sep = ", ")

{'I': 1, 'n': 5, 't': 5, 'r': 1, 'o': 4, 'd': 1, 'u': 1, 'c': 3, 'i': 3, ' ': 5, 'D': 1, 'a': 2, 'S': 1, 'e': 2, 'P': 1, 'y': 1, 'h': 1}

In [52]:
names = ("Julia", "Mitchelle", "Janice", "Leslie", "Juanita", "Robin", "Linda")

In [56]:
Julia, Mitchelle, *_ = names

In [57]:
Julia, Mitchelle

('Julia', 'Mitchelle')

In [59]:
_

['Janice', 'Leslie', 'Juanita', 'Robin', 'Linda']

In [66]:
with open(r"D:\Introduction-to-Data-Science-in-Python\week-1\datasets\mpg.csv") as file:
    mpg = list(DictReader(file))

In [68]:
mpg[0:2]

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'}]

In [69]:
len(mpg)

234

In [82]:
cities = list(set(int(record.get("cty")) for record in mpg))
cities.sort()

In [83]:
cities

[9,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 28,
 29,
 33,
 35]

In [85]:
city_wise_mean_displacement = dict()

for record in mpg:
    if int(record.get("cty")) in city_wise_mean_displacement:
        city_wise_mean_displacement[int(record.get("cty"))].append(float(record.get("displ")))
    else:
        city_wise_mean_displacement[int(record.get("cty"))] = [float(record.get("displ"))]

In [87]:
for city_id in city_wise_mean_displacement.keys():
    city_wise_mean_displacement[city_id] = np.mean(city_wise_mean_displacement[city_id])

In [88]:
city_wise_mean_displacement

{18: 2.815384615384615,
 21: 2.1739130434782608,
 20: 2.3181818181818183,
 16: 3.6789473684210523,
 19: 2.565,
 15: 3.9708333333333337,
 17: 3.14375,
 14: 4.557894736842105,
 11: 5.15,
 13: 4.833333333333333,
 12: 5.050000000000001,
 22: 2.2,
 9: 4.7,
 28: 1.7000000000000002,
 24: 1.72,
 25: 1.7000000000000002,
 23: 2.1999999999999997,
 26: 1.8,
 33: 1.9,
 35: 1.9,
 29: 1.9}