In [1]:
import numpy as np
import pandas as pd

In [4]:
index = pd.Series(["James", "Mike", "Sally"], name = "Names")
students = pd.DataFrame({"School": ["Business", "Law", "Engineering"]}, index = index)
students

            School
Names
James     Business
Mike           Law
Sally  Engineering

In [5]:
index = pd.Series(["Kelly", "Sally", "James"], name = "Names")
staff = pd.DataFrame({"Role": ["Director of H.R", "Course liasion", "Grader"]}, index = index)
staff

                  Role
Names
Kelly  Director of H.R
Sally   Course liasion
James           Grader

In [7]:
pd.merge(students, staff, how = "left", left_index = True, right_index = True)

            School            Role
Names
James     Business          Grader
Mike           Law             NaN
Sally  Engineering  Course liasion

In [10]:
df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'], index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 'ok', 'ok', 'ok', 'poor', 'poor'], columns = ['Grades'])

my_categories = pd.CategoricalDtype(reversed(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D']), ordered = True)
grades = df['Grades'].astype(my_categories)
result = grades[(grades > 'B') & (grades < 'A')]

In [11]:
result

excellent    A-
good         B+
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [19]:
(pd.Timestamp("11/29/2019") + pd.offsets.MonthEnd()).weekday()

5

In [20]:
(pd.Timestamp("11/29/2019") + pd.offsets.MonthEnd()).day_name()

'Saturday'

In [21]:
pd.Period('01/12/2019', 'M') + 5

Period('2019-06', 'M')